.about-work {
  display: flex;
  .vision-area {
    width: calc(50% - 136px);
    position: relative;
    .image-area {
      position: relative;

      &:before {
        content: "";
        background: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .vision-content {
      position: absolute;
      top: 180px;
      right: 150px;
      text-align: left;
      max-width: 335px;
      h2 {
        font-family: $robot;
        font-weight: 500;
        font-size: 35px;
        color: #fff;
        text-transform: capitalize;
        position: relative;
      }
      p {
        font-family: $robot;
        font-weight: 400;
        color: #a8a8a8;
        font-size: 16px;
        max-width: 570px;
        margin: 0 auto;
        line-height: 25px;
        margin-top: 18px;
      }
    }
  }
  .mission-area {
    width: calc(50% + 136px);
    background: $lavender;
    display: flex;
    position: relative;
    .mission-content {
      align-self: center;
      max-width: 660px;
      margin-left: 80px;
      h2 {
        font-family: $robot;
        font-weight: 500;
        font-size: 35px;
        color: #fff;
        text-transform: capitalize;
      }
      h5 {
        font-family: $robot;
        font-weight: 400;
        color: rgba(244, 244, 244, 0.7);
        font-size: 18px;
        line-height: 25px;
        font-style: italic;
        margin: 20px 0;
      }
      p {
        font-family: $robot;
        font-weight: 400;
        color: #f1f1f1;
        font-size: 16px;
        line-height: 25px;
        margin-top: 18px;
      }
    }
    &:before {
      content: "";
      background: url(../images/banner_shap2.png) scroll no-repeat;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 170px;
      width: 545px;
    }
  }
}
