.contact-area {
  display: flex;
  .contact-form {
    width: calc(50% + 171px);
    background: $pink;
    .form-inner {
      width: 600px;
      float: right;
      margin-right: 140px;
      h2 {
        font-family: $robot;
        font-weight: 500;
        font-size: 35px;
        color: $dip;
        text-transform: capitalize;
        padding-top: 110px;
      }
      .main-form {
        margin-top: 50px;
        input {
          height: 40px;
          line-height: 40px;
          border-radius: 0px;
          margin-bottom: 10px;
          background: transparent;
          border: 1px solid #e2e2e2;
          @include placeholder {
            color: $pfont;
            text-transform: capitalize;
            font-family: $robot;
            font-weight: 400;
            font-size: 14px;
          }
          &:focus {
            outline: none;
            border: 1px solid $lavender;
          }
        }
        .form-control {
          &:focus {
            box-shadow: none;
          }
        }
        .message {
          height: 135px;
          width: 100%;
          line-height: 40px;
          border-radius: 0px;
          background: transparent;
          border: 1px solid #e2e2e2;
          padding-left: 15px;
          resize: none;
          @include placeholder {
            color: $pfont;
            text-transform: capitalize;
            font-family: $robot;
            font-weight: 400;
            font-size: 14px;
          }
          &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid $lavender;
          }
        }
        .submit-btn {
          text-decoration: none;
          border: 1px solid $dip;
          font-family: $robot;
          font-weight: 400;
          font-size: 20px;
          color: $dip;
          padding: 0 30px;
          line-height: 45px;
          display: inline-block;
          margin-top: 20px;
          text-align: center;
          text-transform: uppercase;
          border-radius: 27px;
          position: relative;
          @include transition;
          z-index: 1;

          &:before {
            content: "";
            background: $lavender;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition-property: transform;
            transition-timing-function: ease-out;
            transition: 0.5s;
            transform: scale(0);
            border-radius: 27px;
            z-index: -1;
          }
          &:hover {
            color: #fff;
            border: 1px solid #fff;
            &:before {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  .contact-image {
    width: calc(50% - 172px);
    position: relative;
    .mapBox {
      min-height: 620px;
    }
  }
}
