.porfolio-details-area {
  .portfolio-details-starts {
    h2 {
      font-family: $robot;
      font-weight: 700;
      font-size: 28px;
      color: $dip;
    }
    h5 {
      font-family: $robot;
      font-weight: 500;
      font-size: 16px;
      color: $black;
      font-style: italic;
      margin: 30px 0 20px 0;
    }
    p {
      font-family: $robot;
      font-weight: 400;
      font-size: 16px;
      color: $pfont;
    }
  }
  .details-category {
    margin-left: 17px;
    .portfolio-category {
      .category-1 {
        margin-bottom: 20px;
        h4 {
          font-family: $robot;
          font-weight: 600;
          font-size: 20px;
          color: $dip;
          text-transform: uppercase;
        }
        p {
          font-family: $robot;
          font-weight: 400;
          font-size: 13px;
          color: $pfont;
        }
      }
    }
    .social-icon {
      ul {
        margin-top: 30px;
        li {
          display: inline-grid;
          margin-right: 8px;
          a {
            text-decoration: none;
            font-size: 19px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            line-height: 40px;
            color: $dip;
            text-align: center;
            border: 1px solid #4f4e5042;
            @include transition;
            &:hover {
              color: #fff;
              background: $dip;
            }
          }
        }
      }
    }
  }
}
.portfolio-single-image {
  padding-bottom: 115px;
}
